<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giới thiệu cổ phiếu quỹ SPY</title>
    <link rel="stylesheet" href="../static/css/gioithieu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="header">
        <div class="header-top">
            <div class="logo">
                <img src="../static/img/logo.svg" alt="Logo">
            </div>
            <div class="social">
                <a href="https://www.facebook.com/bae.10485/" class="facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/zaphonene/" class="instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://www.twitter.com/hoangthanh.1999" class="twitter"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <div class="header-bottom">
            <!-- <h1>Dự đoán giá cổ phiếu SPY</h1> -->
            <nav>
                <ul>
                    <li><a href="{{url_for('index')}}">Trang chủ</a></li>
                    <li><a href="/">Giám sát thị trường</a></li>
                    <li><a href="/gioithieu">Giới thiệu</a></li>
                    <li><a href="/">Tin tức</a></li>
                    <li><a href="/">Chủ đề</a></li>
                    <li><a href="/">Các nhà lãnh đạo</a></li>
                    <li><a href="/">Giáo dục</a></li>
                    <li><a href="/lienhe">Liên hệ</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="body">
        <h1>Giới thiệu cổ phiếu quỹ SPY</h1>
        <p>Cổ phiếu quỹ SPY là một trong những cổ phiếu quỹ phổ biến nhất trên thị trường chứng khoán Mỹ. Đây là một trong những cổ phiếu quỹ theo dõi chỉ số S&P 500, một trong những chỉ số chứng khoán quan trọng nhất tại Mỹ.</p>
        <p>Trong thời gian gần đây, cổ phiếu quỹ SPY đã trở thành một trong những cổ phiếu quỹ được quan tâm nhiều nhất trên thị trường chứng khoán toàn cầu.</p>
        <h2>Thông tin cơ bản về cổ phiếu quỹ SPY</h2>
        <p>Cổ phiếu quỹ SPY được niêm yết trên sàn giao dịch chứng khoán New York Stock Exchange (NYSE) với mã chứng khoán SPY. Đây là một trong những cổ phiếu quỹ có vốn hóa lớn nhất trên thị trường chứng khoán Mỹ.</p>
        <p>Đây là một trong những cổ phiếu quỹ được các nhà đầu tư quan tâm nhiều nhất trên thị trường chứng khoán toàn cầu, với khối lượng giao dịch lớn và biến động giá mạnh.</p>
        <p>Để biết thêm thông tin chi tiết về cổ phiếu quỹ SPY, bạn có thể truy cập trang web của <a href="https://www.spdrs.com/product/fund.seam?ticker=spy">SPDRs</a>.</p>
        <h2>Tại sao nên đầu tư vào SPY ETF?</h2>
        <p>Cổ phiếu quỹ SPY là một trong những cổ phiếu quỹ phổ biến nhất trên thị trường chứng khoán Mỹ. Đây là một trong những cổ phiếu quỹ theo dõi chỉ số S&P 500, một trong những chỉ số chứng khoán quan trọng nhất tại Mỹ.</p>
        <p>Đầu tư vào cổ phiếu quỹ SPY giúp nhà đầu tư tiếp cận với toàn bộ thị trường chứng khoán Mỹ thông qua chỉ số S&P 500, giúp giảm rủi ro và tối ưu hóa lợi nhuận.</p>
        <h2>Mô hình dự đoán cổ phiếu quỹ SPY dữ trên tập dữ liệu từ năm 1993-2018</h2>
        <p>Đây là mô hình mình đã xây dựng dựa trên tập dữ liệu <b>S&P 500 SPY Daily Price History</b>🕵️. Mô hình này sử dụng các kỹ thuật học máy như hồi quy tuyến tính và mạng nơ-ron nhân tạo để dự đoán giá cổ phiếu.</p>
        <p>Dữ liệu được xử lý và phân tích bằng Python và các thư viện như Pandas, NumPy, và Scikit-learn. Kết quả của mô hình cho thấy độ chính xác cao trong việc dự đoán xu hướng giá cổ phiếu SPY.</p>
        <p>Để biết thêm chi tiết về mô hình dự đoán cổ phiếu quỹ SPY, bạn có thể truy cập tại đây  <a href="{{url_for('index')}}">Dự đoán giá cổ phiếu SPY</a>.</p>
    </div>
    <div class="footer">
        <p>&copy; 2025 Dự đoán giá cổ phiếu SPY</p>
        <p>Được tạo bởi: <a href="https://www.facebook.com/bae.10485/">Gia Phong</a></p>
    </div>
</body>
</html>